@mixin reciperows {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin recipepic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin recipetxt {
    padding: 10px;
    color: $melon;
}

@mixin button {
    padding: 25px;
    color: white;
    background-color: $orange;
    border-radius: 1.5rem;
}
