@mixin reciperows {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin recipepic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin recipetxt {
    padding: 10px;
    color: $melon;
}
