$success: #5b6b4e;
$warning: #ffcb1f;

// Import Bootstrap
@import '../bootstrap-modules/node_modules/bootstrap/scss/bootstrap.scss';
@import '../bootstrap-modules/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js';

header, footer {
    background-color: $success;
    color: #ffffff;

    .nav-link {
        color: #ffffff;
    }    

}