@import './partials/reset';
@import './partials/variables';
@import './partials/mixin';


header {
    display: flex;
    background-color: $orange;
    
    
}

nav {
    background-color: $orange;
}

