@import './partials/reset';
@import './partials/variables';
@import './partials/mixin';

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: $orange;
    
    
}

nav {
    background-color: $orange;
}


.reciperow {
    @include recipepic;


    div {
    @include recipetxt;

    border-radius: 2em;
    box-shadow:  0px 10px 4px #d3d3d3;

        img {
            height: 250px;
            width: 250px;
        }

    }
}

#newsletter {

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}
    
    input {
        border: 2px $melon;
        width: 5em;
    }
}

