@import './partials/reset';
@import './partials/variables';
@import './partials/mixin';


header {
    background-color: $orange;
    
    a {
        color: white;
    }
}

nav {
    background-color: $orange;
    color: white;
}

