@import './partials/reset';
@import './partials/variables';
@import './partials/mixin';

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: $orange;
    color: white;
    padding: 30px;
    text-align: center;
 
}

nav {
    background-color: $orange;
}


.reciperow {
    @include recipepic;

    div {
    @include recipetxt;

    border-radius: 1.5em;
    box-shadow:  0px 10px 4px #d3d3d3;

         img {
            height: 250px;
            width: 250px;
        }

    }
}

#newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $lime;
    border-radius: 2em;
    padding: 40px 20px;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100px;
        width: 100px;
    }
    
    input {
        border: 2px $orange;
        width: 50%;
    }
}

.aboutbox {
    
    img {
        border-radius: 2em;
    }

}

button {
    @include button;
}

footer {
    background-color: $mint;
    color: white;
    padding: 30px;
    text-align: center;

    a {
        text-decoration: none;
    }
}
