@import './partials/reset';
@import './partials/variables';
@import './partials/mixin';


header {
    background-color: $orange;
    
    
}

nav {
    background-color: $orange;
}

.reciperow div {
    @include recipebox;
}

