@import './partials/reset';
@import './partials/variables';
@import './partials/mixin';


header {
    background-color: $orange;
    
    
}

nav {
    background-color: $orange;
}


.reciperow {
    @include reciperows;

    img {
        height: 250px;
        width: 250px;
    }
}

