@import './partials/reset';
@import './partials/variables';
@import './partials/mixin';

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: $orange;
    
    
}

nav {
    background-color: $orange;
}


.reciperow {
    @include recipepic;


    div {
        
        img {
            height: 250px;
            width: 250px;
        }

    }
}

#newsletter {

    input {
        background-color: azure;
        border: 2px gray;
    }
}

