// Custom variables
$primary: #13124b;

// Import Bootstrap
@import '../bootstrap-modules/node_modules/bootstrap/scss/bootstrap.scss';

header, footer {
    background-color: $primary;
    color: #ffffff;

    .nav-link {
        color: #ffffff;
    }    

}

h1, h2 {
    color: $primary;
}