// Custom variables
$primary: #13124b;
$warning: #ffcb1f;

// Import Bootstrap
@import '../bootstrap-modules/node_modules/bootstrap/scss/bootstrap.scss';

header, footer {
    background-color: $primary;
    color: #ffffff;

    .nav-link {
        color: #ffffff;
    }    

}


.bi-star-fill, .bi-star {
        color: $warning;
}

h1, h2 {
    color: $primary;
}